@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .no-scrollbar {
      -ms-overflow-style: none;  
      scrollbar-width: none;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
}
 
@layer base {
  body {
    @apply bg-background-white text-text-dark-primary w-full min-h-screen;
  }
}